---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";
import Grids from "../components/Grids.astro";
---

<Layout page.Title={frontmatter.title} title= `${frontmatter.title} –– Fernando Catalán`>
    <Section class="my-28">
        <Grids class="gap-40">
            <div class="flex flex-col gap-4">
                {frontmatter.image.map((img: {
[x: string]: string | null | undefined; url: string | null | undefined; 
}) =>
                    <img src={img.url} alt={img.alt} class="rounded-md">
                )}
            </div>
            <div class="sticky top-40">
                <span class="">{frontmatter.year}</span>
                <h1 class="my-3">{frontmatter.title}</h1>
                <slot />
            </div>
        </Grids>
    </Section>
</Layout>

<style>
    h1 {
        font-size: 1.75rem;
        font-weight: 500;
    }
</style>
